* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color: #fff;
    overflow: hidden;
}

h1 {
    color: #323330;
}

.container {
    height: 800px;
    width: 80%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 20px; */
    overflow-y: scroll;
    border: 5px solid #000000;
    padding: 10px;

}
.head {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 5px solid #000000;

}
.drop-targets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 

    /* width: 80%; */
    margin: 20px 0; 
}

.box {
    height: 50px;
    width: 120px;

    /* border-top: solid 1px #eee;
    border-bottom: solid 1px #eee; */
    border-left: solid 1px #999;
    border-right: solid 1px #999;
    
    margin-left: -25px;

    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}


.drag-over {
    border: dashed 3px red;
}

.card {
    border-color: 2px #ff0000;
}
.dragger {
    margin-top: auto;
    width: 50px;
    height: 20px;
    background-color: #ff0000;

}


.item-top{
    border: 100px solid #ff0000;
}

