* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* h1 {
    color: #323330;
} */

.container {
    height:100vh;
    width: 200vw;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    float: left;
    /* margin: 20px; */
    overflow-y: scroll;
    border: 5px solid #000000;
    padding: 10px;

}
.head {
    
    position: relative;
    width: 13vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 5px solid #000000;

}
.drop-targets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 

    /* width: 80%; */
    margin: 20px 0; 

}

.box {
    height: 50px;
    width: 135px;
    position: relative;

    margin-left: -1.7em;
    /* border-top: solid 1px #eee;
    border-bottom: solid 1px #eee; */
    border-left: solid 0.2em #999;
    border-right: solid 0.2em #999;


    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

.boxTop{
    border: solid 0.3em #999;
}

.now {
    background-color: #1286a3;
    color: #062077;
}


.drag-over {
    border: dashed 3px red;
}

.card {
    border-color: 2px #ff0000;
}
.dragger {
    margin-top: auto;
    width: 50px;
    height: 20px;
    background-color: #ff0000;

}


.item-top{
    border: 100px solid #ff0000;
}

